<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="./assets/images/logo.png">
    </a>
    <div class="collapse navbar-collapse">
      <!------------------------------------- PRIVATE HEADER -------------------------------------------->
      <ul class="navbar-nav" *ngIf="!isPublic">
        <li class="nav-item active" [className]="router.url.includes('vehicle') ? 'selected-menu' : ''">
          <a class="nav-link" [routerLink]="['/vehicles']">Véhicules</a>
        </li>
        <li class="nav-item" [className]="router.url.includes('service') ? 'selected-menu' : ''">
          <a class="nav-link" [routerLink]="['/services']">Services</a>
        </li>
        <li class="nav-item" [className]="router.url.includes('user') ? 'selected-menu' : ''">
          <a class="nav-link" [routerLink]="['/users']">Utilisateurs</a>
        </li>
      </ul>
      <!------------------------------------- PUBLIC HEADER -------------------------------------------->
      <ul class="navbar-nav" *ngIf="isPublic">
      </ul>
      <form class="d-flex" *ngIf="isPublic">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
