<div class="container mb-4" *ngIf="vehiclesPaginator">
  <div class="card" *ngFor="let vehicle of vehiclesPaginator.data" (click)="navigateTo('voiture/' + vehicle.id)">
    <div *ngIf="vehicle.pictures.length > 0" class="picture-content" [style.background-image]="'url('+environment.apiUrl + vehicle.pictures[0].url+')'">
    </div>
    <div *ngIf="vehicle.pictures.length == 0" class="picture-content">
        <div class="bi bi-car-front-fill"></div>
    </div>
    <div class="card-body">
      <div class="bold-text">{{ vehicle.model.brand.name + ' ' + vehicle.model.name }}</div>
      <div>{{ vehicle.manufacturingYear + ' | ' + vehicle.mileage + 'KM | ' + vehicle.gearbox.name }}</div>
      <div class="bold-text">{{ vehicle.price + '€' }}</div>
    </div>
  </div>
</div>
<div class="text-center mb-3">
  <div class="paginator-content">
    <nav>
      <ul class="pagination">
        <li class="page-item">
          <span class="page-link" href="#" aria-label="Previous" (click)="getVehicles(currentPage - 1)">
            <span aria-hidden="true">&laquo;</span>
          </span>
        </li>
        <li [className]="page == currentPage ? 'page-item-active' : 'page-item' " *ngFor="let page of pages"><span class="page-link" (click)="getVehicles(page)">{{ page }}</span></li>
        <li class="page-item">
          <span class="page-link" href="#" aria-label="Next" (click)="getVehicles(currentPage + 1)">
            <span aria-hidden="true">&raquo;</span>
          </span>
        </li>
      </ul>
    </nav>
  </div>
</div>
