.container {
  justify-content: center;
  margin-top: 30px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(265px, auto));
}

.container card {
  width: 265px;
  height: 300px;
}

.cropped-image, .picture-content {
  width: 265px;
  height: 265px;
  background-size: 265px 265px;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}

.bi-car-front-fill {
  font-size: 100px;
  margin-top: 50px;
}

.card-body {
  border-top: rgba(0, 0, 0, 0.175) solid 1px;
  padding: 10px;
  flex: none;
}
