<app-header [isPublic]="true"></app-header>
<main>
  <section>
    <div class="container overflow-hidden">
      <div class="row justify-content-lg-around gy-4 gy-md-6">
        <div class="col-12 col-sm-6 col-lg-5">
          <div class="mt-3 m-3">
            <div class="row">
              <div class="col-auto">
                <img src="./assets/images/feedback-profile-icon.svg" />
              </div>
              <div class="col-auto">
                <p class="customer-name">Luna John - Marketer <br/> 01/12/2023</p>
              </div>
            </div>
            <p class="mb-2">Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500</p>
            <div class = 'col-lg-12 feedback-stars-disabled'>
              <div class = 'note5' data-count = '5'>★</div>
              <div class = 'note4' data-count = '4'>★</div>
              <div class = 'note3 selected' data-count = '3'>★</div>
              <div class = 'note2 selected' data-count = '2'>★</div>
              <div class = 'note1 selected' data-count = '1'>★</div>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-lg-5">
          <div class="mt-3 m-3">
            <div class="row">
              <div class="col-auto">
                <img src="./assets/images/feedback-profile-icon.svg" />
              </div>
              <div class="col-auto">
                <p class="customer-name">Luna John - Marketer <br/> 01/12/2023</p>
              </div>
            </div>
            <p class="mb-2">Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500</p>
            <div class = 'col-lg-12 feedback-stars-disabled'>
              <div class = 'note5 selected' data-count = '5'>★</div>
              <div class = 'note4 selected' data-count = '4'>★</div>
              <div class = 'note3 selected' data-count = '3'>★</div>
              <div class = 'note2 selected' data-count = '2'>★</div>
              <div class = 'note1 selected' data-count = '1'>★</div>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-lg-5">
          <div class="mt-3 m-3">
            <div class="row">
              <div class="col-auto">
                <img src="./assets/images/feedback-profile-icon.svg" />
              </div>
              <div class="col-auto">
                <p class="customer-name">Luna John - Marketer <br/> 01/12/2023</p>
              </div>
            </div>
            <p class="mb-2">Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500</p>
            <div class = 'col-lg-12 feedback-stars-disabled'>
              <div class = 'note5' data-count = '5'>★</div>
              <div class = 'note4 selected' data-count = '4'>★</div>
              <div class = 'note3 selected' data-count = '3'>★</div>
              <div class = 'note2 selected' data-count = '2'>★</div>
              <div class = 'note1 selected' data-count = '1'>★</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
