.customer-name {
  font-size: 14px;
  font-family: 'Manrope-bold', serif;
}

.col-12 {
  border-radius: 32px;
  background: #f6f6f9;
}

@media (min-width: 992px) {
  .col-lg-5 {
    flex: 0 0 auto;
    width: 49%;
  }
}

