<section>
  <div class="container overflow-hidden">
    <div class="row justify-content-lg-around gy-4 gy-md-6">
      <ng-container *ngFor="let feedback of feedbacks; let index = index;">
        <div class="col-12 col-sm-6 col-lg-5" *ngIf="!feedbackNumber  || (feedbackNumber && (index + 1) <= feedbackNumber)">
          <div class="mt-3 m-3">
            <div class="row">
              <div class="col-auto">
                <img src="./assets/images/feedback-profile-icon.svg" />
              </div>
              <div class="col-auto">
                <p class="customer-name">{{ feedback.lastName + ' ' + feedback.firstName }} <br/> {{ feedback.createdAt }}</p>
              </div>
            </div>
            <p class="mb-2">{{ feedback.message }}</p>
            <div class = 'col-lg-12 feedback-stars-disabled'>
              <div *ngFor="let star of stars" [className]="star <= feedback.stars ? 'note' + star + ' selected' : 'note' + star" [attr.data-count]="star">★</div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</section>
