<!--------------------------------- Search form ------------------------------------->
<div class="search-card mb-3">
  <div class="search-header" (click)="searchFormVisibility(!displaySearchForm)">
    <span class="search-title">Filtre</span>
    <span class="icon" *ngIf="!displaySearchForm"><i class="bi bi-plus-square"></i></span>
    <span class="icon" *ngIf="displaySearchForm" ><i class="bi bi-file-minus"></i></span>
  </div>
  <div class="search-form mt-3" *ngIf="displaySearchForm">
    <form [formGroup]="form">
      <div class="container">
        <div class="row row-cols-2 form-group">
          <div class="col-6 mb-3">
            <label class="form-label">Marque:</label>
            <select class="form-select" formControlName="brandId" (change)="loadModels($event)">
              <option value=""></option>
              <option *ngFor="let brand of brands" [value]="brand.id">{{ brand.name }}</option>
            </select>
          </div>
          <div class="col-6 mb-3">
            <label class="form-label">Modèle:</label>
            <select class="form-select" formControlName="modelId">
              <option value=""></option>
              <option *ngFor="let model of filteredModels" [value]="model.id">{{ model.name }}</option>
            </select>
          </div>
        </div>

        <div class="row row-cols-2 form-group">
          <div class="col-6 mb-3">
            <label class="form-label">Prix min:</label>
            <input type="text" class="form-control" formControlName="minPrice" placeholder="XXXXX">
            <p class="error-message" *ngIf="formSubmitted && form.controls['minPrice'].errors">{{ getError('minPrice') }}</p>
          </div>
          <div class="col-6 mb-3">
            <label class="form-label">Prix max:</label>
            <input type="text" class="form-control" formControlName="maxPrice" placeholder="XXXXX">
            <p class="error-message" *ngIf="formSubmitted && form.controls['maxPrice'].errors">{{ getError('maxPrice') }}</p>
          </div>
        </div>

        <div class="row row-cols-2 form-group">
          <div class="col-6 mb-3">
            <label class="form-label">Kilométrage min:</label>
            <input type="text" class="form-control" formControlName="minMileage" placeholder="500">
            <p class="error-message" *ngIf="formSubmitted && form.controls['minMileage'].errors">{{ getError('minMileage') }}</p>
          </div>
          <div class="col-6 mb-3">
            <label class="form-label">Kilométrage max:</label>
            <input type="text" class="form-control" formControlName="maxMileage" placeholder="1000">
            <p class="error-message" *ngIf="formSubmitted && form.controls['maxMileage'].errors">{{ getError('maxMileage') }}</p>
          </div>
        </div>

        <div class="row row-cols-2 form-group">
          <div class="col-6 mb-3">
            <label class="form-label">Année min:</label>
            <input type="text" class="form-control" formControlName="minManufacturingYear" placeholder="2000">
            <p class="error-message" *ngIf="formSubmitted && form.controls['minManufacturingYear'].errors">{{ getError('minManufacturingYear') }}</p>
          </div>
          <div class="col-6 mb-3">
            <label class="form-label">Année max:</label>
            <input type="text" class="form-control" formControlName="maxManufacturingYear" placeholder="2024">
            <p class="error-message" *ngIf="formSubmitted && form.controls['maxManufacturingYear'].errors">{{ getError('maxManufacturingYear') }}</p>
          </div>
        </div>

        <div class="row row-cols-2 form-group">
          <div class="col-6 mb-3">
            <label class="form-label">Puissance fiscale:</label>
            <input type="text" class="form-control" formControlName="fiscalPower" placeholder="7">
            <p class="error-message" *ngIf="formSubmitted && form.controls['fiscalPower'].errors">{{ getError('fiscalPower') }}</p>
          </div>
          <div class="col-6 mb-3">
            <label class="form-label">Couleur:</label>
            <select class="form-select" formControlName="colorId">
              <option value=""></option>
              <option *ngFor="let color of colors" [value]="color.id">{{ color.name }}</option>
            </select>
          </div>
        </div>

        <div class="row row-cols-2 form-group">
          <div class="col-6 mb-3">
            <label class="form-label">Energie:</label>
            <select class="form-select" formControlName="energyId">
              <option value=""></option>
              <option *ngFor="let energy of energies" [value]="energy.id">{{ energy.name }}</option>
            </select>
          </div>
          <div class="col-6 mb-3">
            <label class="form-label">Boite de vitesse:</label>
            <select class="form-select" formControlName="gearboxId">
              <option value=""></option>
              <option *ngFor="let gearbox of gearboxes" [value]="gearbox.id">{{ gearbox.name }}</option>
            </select>
          </div>
        </div>

        <div class="row row-cols-2 form-group">
          <div class="col-6 mb-3">
            <label class="form-label">Tirer par:</label>
            <select class="form-select" formControlName="orderBy">
              <option value="asc_price">Prix croissant</option>
              <option value="desc_price">Prix décroissant</option>
              <option value="asc_mileage">Kilométrage croissant</option>
              <option value="desc_mileage">Kilométrage décroissant</option>
              <option value="desc_manufacturing_year">Véhicules les plus récents</option>
              <option value="asc_manufacturing_year">Véhicules les moins récentes</option>
            </select>
          </div>
          <div class="col-6 mb-3">
          </div>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col"></div>
        <div class="col text-center"><button type="button" class="btn btn-outline-success" (click)="reset()">Réinitialiser</button></div>
        <div class="col text-center"><button type="submit" class="btn btn-outline-success" (click)="search()">Rechercher</button></div>
        <div class="col"></div>
      </div>
    </form>
  </div>
</div>

<!--------------------------------- Vehicle list ------------------------------------->
<div class="container" *ngIf="vehiclesPaginator && vehiclesPaginator.data.length > 0">
  <ul class="image-gallery">
    <li *ngFor="let vehicle of vehiclesPaginator.data" (click)="navigateTo('voiture/' + vehicle.id)">
      <img *ngIf="vehicle.pictures.length > 0" [src]="environment.apiUrl + vehicle.pictures[0].url"/>
      <div *ngIf="vehicle.pictures.length == 0" class="bi bi-car-front-fill"></div>
      <!-------------------------- Visitor overlay ----------------------->
      <div class="overlay" *ngIf="isPublic">Voir détails</div>
      <!-------------------------- Administration overlay ----------------------->
      <div class="overlay administration-overlay" *ngIf="!isPublic">
        <p class="bi bi-pencil" (click)="navigateTo('administration/vehicle/update/' + vehicle.id)"> Modifier</p>
        <p class="bi bi-card-image" (click)="navigateTo('administration/vehicle/pictures/' + vehicle.id)"> Gérer les images</p>
        <p class="bi bi-trash" (click)="navigateTo('administration/vehicle/delete/' + vehicle.id)"> Supprimer</p>
      </div>
      <div class="vehicle-details">
        <div class="bold-text">{{ vehicle.model.brand.name + ' ' + vehicle.model.name }}</div>
        <div class="bold-text">{{ vehicle.manufacturingYear + ' | ' + vehicle.mileage + 'KM | ' + vehicle.gearbox.name }}</div>
        <div class="bold-text">Prix: {{ vehicle.price + '€' }}</div>
      </div>
    </li>
  </ul>
  <div class="text-center mb-3">
    <div class="paginator-content">
      <nav>
        <ul class="pagination">
          <li class="page-item">
          <span class="page-link" href="#" aria-label="Previous" (click)="getVehicles(currentPage - 1)">
            <span aria-hidden="true">&laquo;</span>
          </span>
          </li>
          <li [className]="page == currentPage ? 'page-item-active' : 'page-item' " *ngFor="let page of pages"><span class="page-link" (click)="getVehicles(page)">{{ page }}</span></li>
          <li class="page-item">
          <span class="page-link" href="#" aria-label="Next" (click)="getVehicles(currentPage + 1)">
            <span aria-hidden="true">&raquo;</span>
          </span>
          </li>
        </ul>
      </nav>
    </div>
    </div>
</div>
