<app-header [isPublic]="false"></app-header>
<main>
  <table class="table" *ngIf="users.length > 0">
    <thead class="table-dark">
    <tr>
      <td>ID</td>
      <td>Nom</td>
      <td>Prénom</td>
      <td>Email</td>
      <td>Actif</td>
      <td></td>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.id }}</td>
      <td>{{ user.lastName }}</td>
      <td>{{ user.firstName }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.isActive ? 'Oui' : 'Non' }}</td>
      <td>
        <i class="bi bi-pencil cursor-pointer" (click)="navigateTo('user/update/' + user.id)"></i>
        <i class="bi bi-card-image cursor-pointer" (click)="navigateTo('user/pictures/' + user.id)"></i>
        <i class="bi bi-trash cursor-pointer" (click)="navigateTo('user/delete/' + user.id)"></i>
      </td>
    </tr>
    </tbody>
  </table>
  <button type="submit" class="btn btn-outline-success" (click)="navigateTo('user/create')">Créer un utilisateur</button>
</main>
