<app-header [isPublic]="false"></app-header>
<main>
  <table class="table" *ngIf="services.length > 0">
    <thead class="table-dark">
    <tr>
      <td>ID</td>
      <td>Nom</td>
      <td>Active</td>
      <td></td>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let service of services">
      <td>{{ service.id }}</td>
      <td>{{ service.name }}</td>
      <td>{{ service.isActive ? 'Oui' : 'Non' }}</td>
      <td>
        <i class="bi bi-pencil cursor-pointer" (click)="navigateTo('service/update/' + service.id)"></i>
        <i class="bi bi-trash cursor-pointer" (click)="navigateTo('service/delete/' + service.id)"></i>
      </td>
    </tr>
    </tbody>
  </table>
  <button type="submit" class="btn btn-outline-success" (click)="navigateTo('service/create')">Créer un service</button>
</main>

