<app-header [isPublic]="false"></app-header>
<main>
  <div class="form-card">
    <div class="w-100 red-text bold-text d-flex justify-content-center">
      <div>Êtes-vous sûr de vouloir supprimer ce véhicule ?</div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col"></div>
    <div class="col d-flex justify-content-center"><button type="button" class="btn btn-outline-success" (click)="cancel()">Annnuler</button></div>
    <div class="col d-flex justify-content-center"><button type="button" class="btn btn-outline-success" (click)="delete()">Supprimer</button></div>
    <div class="col"></div>
  </div>
</main>
