<div class="home-search">
  <div class="row pb-3">
    <div class="col-7 home-search-right">
      <h2>Nous sélectionnons les meilleures voitures d'occasion pour vous.</h2>
      <img src="../../../assets/images/home_search.png">
    </div>
    <div class="col-5 home-search-left">
      <div class="row choice-buttons">
        <div class="col-6 selected-choice">Acheter</div>
        <div class="col-6 choice">Vendre</div>
      </div>

      <div class="row">
        <div class="col-6">
          <select class="form-control form-select">
            <option selected disabled>Marque</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
        <div class="col-6">
          <select class="form-control form-select" aria-label="Default select example">
            <option selected disabled>Modèle</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-6">
          <input class="form-control me-2" type="text" placeholder="Prix">
        </div>
        <div class="col-6">
          <select class="form-control form-select" aria-label="Default select example">
            <option selected disabled>Énergie</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
      </div>

      <button class="btn btn-outline-success mt-4 mb-4" type="submit">Recherche</button>
    </div>
  </div>
</div>

<app-vehicles></app-vehicles>
<app-feedback-list [feedbacksNumber]="4"></app-feedback-list>


