@media screen and (max-width: 470px) {
  .form-card {
    padding: 0;
  }

  .input-label {
    display: initial;
    font-size: 14px;
  }
}

@media screen and (max-width: 420px) {
  .input-label {
    font-size: 13px;
  }

  .container {
    --bs-gutter-x: 0;
  }
}

@media screen and (max-width: 910px) {
  .update-form .row {
    display: block;
  }

  .update-form .row .col-5, .update-form .row-cols-2 > * {
    width: 100%;
  }
}
