.customer-name {
  font-size: 14px;
  font-family: 'Manrope-bold', serif;
}

.col-12 {
  border-radius: 32px;
  background: #f6f6f9;
}


@media (max-width: 992px) {
  .justify-content-lg-around {
    display: block !important;
  }

  .col-lg-5 {
    width: 100% !important;
    padding: 10px;
  }
}

