.services-card {
  border-radius: 10px;
  background: #f6f6f9;
  margin-top: 20px;
  padding: 20px;
}

@media screen and (max-width: 800px) {
  .row-cols-2 {
    display: block !important;
  }

  .row-cols-2 .col {
    width: 100% !important;
  }
}
