.navbar {
  background-color: #fff !important;
  box-shadow: 0 0 5px 0 #5057f4;
  position: sticky;
  top: 0;
  z-index: 9999;
}

.navbar-brand img {
  height: 50px;
}

.navbar-nav {
  margin: auto;
}

.selected-menu a {
  color: #5057f4 !important;
  font-family: 'Manrope-bold', serif;
  text-decoration: underline;
}

#mobile-menu {
  display: none;
}

.container {
  --bs-gutter-x: 0 !important;
  --bs-gutter-y: 0 !important;
}

@media screen and (max-width: 800px) {
  #desktop-menu {
    display: none;
  }

  #mobile-menu {
    display: block;
  }

  .navbar {
    width: 100%;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar .menu-items {
    display: flex;
  }

  .navbar .container li {
    list-style: none;
  }

  .navbar .container a {
    text-decoration: none;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0.7rem;
  }

  .navbar .container a:hover{
    font-weight: bolder;
  }

  .container {
    display: block;
    height: 60px;
  }

  .container .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }

  .container .hamburger-lines {
    height: 26px;
    width: 32px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #5057f4;
  }

  .container .hamburger-lines .line1 {
    transform-origin: 0 0;
    transition: transform 0.4s ease-in-out;
  }

  .container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }

  .container .hamburger-lines .line3 {
    transform-origin: 0 100%;
    transition: transform 0.4s ease-in-out;
  }

  .navbar .menu-items {
    left: 0;
    padding-top: 120px;
    background: rgba(132, 132, 132, .9);
    height: 100vh;
    width: 100vw;
    transform: translate(-150%);
    flex-direction: column;
    transition: transform 0.5s ease-in-out;
    text-align: center;
    position: absolute;
    margin-top: 70px;
  }

  .navbar .menu-items li {
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    font-weight: 500;
  }

  .logo {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 1.2rem;
  }

  .container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }

  .container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
  }

  .container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }

  .container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
  }
}
