<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="../../../assets/images/logo.png">
    </a>
    <div class="collapse navbar-collapse">
      <!------------------------------------- PRIVATE HEADER -------------------------------------------->
      <ul class="navbar-nav" *ngIf="!isPublic">
        <li class="nav-item active" [className]="router.url.includes('vehicle') ? 'selected-menu' : ''">
          <a class="nav-link" [routerLink]="['administration/vehicles']">Véhicules</a>
        </li>
        <li class="nav-item active" [className]="router.url.includes('feedback') ? 'selected-menu' : ''">
          <a class="nav-link" [routerLink]="['administration/feedbacks']">Avis</a>
        </li>
        <li class="nav-item" [className]="router.url.includes('service') ? 'selected-menu' : ''">
          <a class="nav-link" [routerLink]="['administration/services']">Services</a>
        </li>
        <li class="nav-item" [className]="router.url.includes('opening') ? 'selected-menu' : ''">
          <a class="nav-link" [routerLink]="['administration/opening-hours']">Horaire d'ouverture</a>
        </li>
        <li class="nav-item" [className]="router.url.includes('user') ? 'selected-menu' : ''">
          <a class="nav-link" [routerLink]="['administration/users']">Utilisateurs</a>
        </li>
      </ul>
      <!------------------------------------- PUBLIC HEADER -------------------------------------------->
      <ul class="navbar-nav" *ngIf="isPublic">
        <li class="nav-item active" [className]="router.url == '/' ? 'selected-menu' : ''">
          <a class="nav-link" [routerLink]="['']">Accueil</a>
        </li>
        <li class="nav-item" [className]="router.url.includes('nos-services') ? 'selected-menu' : ''">
          <a class="nav-link" [routerLink]="['/nos-services']">Nos services</a>
        </li>
        <li class="nav-item" [className]="router.url.includes('avis') ? 'selected-menu' : ''">
          <a class="nav-link" [routerLink]="['/avis/list']">Avis</a>
        </li>
        <li class="nav-item" [className]="router.url.includes('contactez-nous') ? 'selected-menu' : ''">
          <a class="nav-link" [routerLink]="['/contactez-nous']">Contactez-nous</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
