<div class="form-card">
  <form [formGroup]="form" *ngIf="form">
    <div class="form-group mb-3">
      <label class="form-label">Nom:</label>
      <input type="text" class="form-control" formControlName="lastName" placeholder="Nom">
      <p class="error-message" *ngIf="formSubmitted && form.controls['lastName'].errors">{{ getError('lastName') }}</p>
    </div>

    <div class="form-group mb-3">
      <label class="form-label">Prénom:</label>
      <input type="text" class="form-control" formControlName="firstName" placeholder="Prénom">
      <p class="error-message" *ngIf="formSubmitted && form.controls['firstName'].errors">{{ getError('firstName') }}</p>
    </div>

    <div class="form-group mb-3">
      <label class="form-label">Email:</label>
      <input type="email" class="form-control" formControlName="email" placeholder="Email">
      <p class="error-message" *ngIf="formSubmitted && form.controls['email'].errors">{{ getError('email') }}</p>
    </div>

    <div class="form-group mb-3">
      <label class="form-label">Rôle:</label>
      <select class="form-select" formControlName="role">
        <option value="administrator">Administrateur</option>
        <option value="employee">Employé</option>
      </select>
      <p class="error-message" *ngIf="formSubmitted && form.controls['role'].errors">{{ getError('role') }}</p>
    </div>

    <div class="form-group mb-3">
      <label class="form-label">Mot de passe:</label>
      <input type="password" class="form-control" formControlName="password" placeholder="Mot de passe">
      <p class="error-message" *ngIf="formSubmitted && form.controls['password'].errors">{{ getError('password') }}</p>
    </div>

    <div class="form-group mb-3">
      <label class="form-label">Confirmation mot de passe:</label>
      <input type="password" class="form-control" formControlName="passwordConfirmation" placeholder="Confirmation mot de passe">
      <p class="error-message" *ngIf="formSubmitted && form.controls['passwordConfirmation'].errors">{{ getError('passwordConfirmation') }}</p>
      <p class="error-message" *ngIf="formSubmitted && !isSamePassword">Vous avez entré deux mots de passe différents.</p>
    </div>

    <div class="form-check form-switch">
      <input class="form-check-input" type="checkbox" id="isActive" formControlName="isActive">
      <label class="form-check-label" for="isActive">Actif</label>
    </div>

    <div class="row mt-3">
      <div class="col text-center">
        <button type="button" class="btn btn-outline-success" (click)="cancel()">Annnuler</button>
      </div>
      <div class="col text-center">
        <button type="submit" class="btn btn-outline-success" (click)="save()">Enregistrer</button>
      </div>
    </div>
  </form>
</div>
