<footer>
  <div class="d-flex flex-column flex-sm-row justify-content-between my-4 border-top"></div>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-sm-3 justify-content-between">
    <div class="col">
      <ul class="nav flex-column coordinate">
        <li><span class="bi bi-house-fill"></span> V. Parrot</li>
        <li class="px-3">26 Rue Chevalier Paul</li>
        <li class="px-3">13002 Marseille</li>
        <li class="mt-4"><i class="bi bi-telephone-fill"></i> Appelez-nous: 04 00 00 00 00</li>
        <li><i class="bi bi-envelope-at-fill"></i> Écrivez-nous : contact&#64;gmail.com</li>
      </ul>
    </div>

    <div class="col opening-hours-block">
      <ul class="nav flex-column" *ngFor="let openingHour of openingHours; let index = index;">
        <li *ngIf="index == 0" class="text-center bold-text opening-hours">Horaires d'ouverture</li>
        <li *ngIf="formattingOpeningHours(openingHour.morningStartHour, openingHour.morningEndHour) !== '' && formattingOpeningHours(openingHour.afternoonStartHour, openingHour.afternoonEndHour) !== ''">
          <div class="row">
            <div class="col-4 underline-text">{{ openingHour.day }}</div>
            <div class="col-8">{{formattingOpeningHours(openingHour.morningStartHour, openingHour.morningEndHour) + ' / ' + formattingOpeningHours(openingHour.afternoonStartHour, openingHour.afternoonEndHour) }}</div>
          </div>
        </li>
        <li *ngIf="formattingOpeningHours(openingHour.morningStartHour, openingHour.morningEndHour) !== '' && formattingOpeningHours(openingHour.afternoonStartHour, openingHour.afternoonEndHour) == ''">
          <div class="row">
            <div class="col-4 underline-text">{{ openingHour.day }}</div>
            <div class="col-8">{{formattingOpeningHours(openingHour.morningStartHour, openingHour.morningEndHour) }}</div>
          </div>
        </li>
        <li *ngIf="formattingOpeningHours(openingHour.morningStartHour, openingHour.morningEndHour) == '' && formattingOpeningHours(openingHour.afternoonStartHour, openingHour.afternoonEndHour) == ''">
          <div class="row">
            <div class="col-4 underline-text">{{ openingHour.day }}</div>
            <div class="col-8">Fermé</div>
          </div>
        </li>
      </ul>
    </div>

    <div class="col logo">
      <img src="../../../assets/images/logo.png">
    </div>
  </div>

  <p class="copyright underline-text">© 2024 V. Parrot, Inc. Tous droits réservés.</p>
  <div class="d-flex flex-column flex-sm-row justify-content-between border-top"></div>
</footer>
