footer {
  font-family: 'Manrope', serif;
}

.copyright {
  text-align: center;
  color: #848484 !important;
  font-size: 15px;
  margin-top: 20px;
}

.row {
  display: flex;
  margin: auto;
  max-width: 1200px;
}

ul li {
  color: #848484 !important;
  font-size: 13px;
  height: 20px;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.opening-hours {
  font-size: 14px !important;
  margin-bottom: 10px;
}

.opening-hours-block {
  min-width: 308px;
}

.bi {
  color: #848484 !important;
}

.logo img {
  float: right;
  width: 200px;
  margin-right: 20px;
}

.coordinate {
  min-width: 250px;
}

@media screen and (max-width: 925px) {
  .logo img {
    float: none;
  }

  .logo {
    margin-top: 20px;
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 580px) {
  .opening-hours-block {
    margin-top: 20px;
  }
}

@media screen and (max-width: 1220px) {
  footer .footer-content {
    padding: 0 20px;
  }
}

