@font-face {
  font-family: 'Manrope';
  src: url('./assets/fonts/Manrope-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope-bold';
  src: url('./assets/fonts/static/Manrope-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html, body, p, ul, li, a, table, span, label {
  font-family: 'Manrope', serif;
  color: #212529 !important;
}

h1, h2, h3 {
  font-family: 'Manrope-bold', serif;
}

main {
  display: flex;
  flex-direction: column;
  font-family: 'Manrope', serif;
  margin: auto;
  max-width: 1200px;
  padding: 20px;
  position: relative;
}

button {
  height: 36px;
}

.btn-outline-success {
  font-family: 'Manrope', serif;
  background-color: #5057f4;
  color: #ffffff;
  border: 1px solid #5057f4;
  padding: 5px 10px;
}

.btn-outline-success:hover, .btn-outline-success:active, .btn-outline-success:focus-visible  {
  background-color: #7c81f7 !important;
  border-color: #7c81f7 !important;
}

.error-message {
  margin-top: 5px;
  color: #f93333 !important;
  font-size: 13px;
}

.table-dark td {
  background-color: #7c81f7;
}

.paginator-content {
  margin: auto;
  display: flex;
}

.pagination li span {
  cursor: pointer;
}

.pagination .page-item-active span {
  background-color: #7c81f7;
  color: #ffffff !important;
}

main button, .form-card button {
  margin: auto;
  display: flex;
}

.form-card {
  padding: 30px 30px;
  width: 80%;
  margin: auto;
  display: flex;
}

.form-card form {
  width: 100%;
  margin: auto;
}

.bold-text {
  font-family: 'Manrope-bold', serif;
}

.input-label {
  margin-left: 5px;
  font-family: 'Manrope', serif;
}

.cursor-pointer {
  cursor: pointer;
}
