@font-face {
  font-family: 'Manrope';
  src: url('./assets/fonts/Manrope-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope-bold';
  src: url('./assets/fonts/static/Manrope-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html, body, p, ul, li, a, table, span, label, p, section {
  font-family: 'Manrope', serif;
  color: #212529 !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Manrope-bold', serif;
}

main {
  display: flex;
  flex-direction: column;
  font-family: 'Manrope', serif;
  margin: auto;
  max-width: 1200px;
  padding: 20px;
  position: relative;
}

button {
  height: 36px;
}

.btn-outline-success {
  font-family: 'Manrope', serif;
  background-color: #5057f4;
  color: #ffffff;
  border: 1px solid #5057f4;
  padding: 5px 10px;
}

.btn-outline-success:hover, .btn-outline-success:active, .btn-outline-success:focus-visible  {
  background-color: #7c81f7 !important;
  border-color: #7c81f7 !important;
}

.error-message {
  margin-top: 5px;
  color: #f93333 !important;
  font-size: 13px;
}

.table-dark td {
  background-color: #7c81f7;
}

.paginator-content {
  margin: auto;
  display: flex;
}

.pagination li span {
  cursor: pointer;
}

.pagination .page-item-active span {
  background-color: #7c81f7;
  color: #ffffff !important;
}

main button, .form-card button {
  margin: auto;
  display: flex;
}

.form-card {
  padding: 30px 30px;
  width: 80%;
  margin: auto;
  display: flex;
  border-radius: 10px;
  background: #f6f6f9;
}

.form-card form {
  width: 100%;
  margin: auto;
}

.bold-text {
  font-family: 'Manrope-bold', serif;
}

.input-label {
  margin-left: 5px;
  font-family: 'Manrope', serif;
}

.cursor-pointer {
  cursor: pointer;
}

.ngx-toastr {
  width: 60% !important;
  margin-top: 80px !important;
}

.red-text {
  color: #f93333 !important;
}

table .bi {
  margin-left: 10px;
}

.container .picture {
  border-radius: 10px;
  background: #f6f6f9;
  padding: 5px;
  margin: 10px;
}

.text-center {
  text-align: center;
}

.blue-text {
  color: #5057f4 !important;
}

.underline-text {
  text-decoration: underline;
}

.gray-text {
  color: #848484 !important;
}

.dark-gray-text {
  color: #585858 !important;
}

.paginator-content nav {
  display: flex;
  margin: auto;
}

/***************************** Feedback stars ********************************/
.feedback-stars, .feedback-stars-disabled
{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

.feedback-stars-disabled {
  position: absolute;
  bottom: 10px;
  margin: auto;
  width: 85%;
}

.feedback-stars div, .feedback-stars-disabled div
{
  float:right;
  color: #848484;
  text-decoration: none;
  -webkit-transition: color .4s;
  -moz-transition: color .4s;
  -o-transition: color .4s;
  transition: color .4s;
}

.feedback-stars div:hover,
.feedback-stars div:hover ~ div,
.feedback-stars div:focus,
.feedback-stars div:focus ~ div,
.feedback-stars .selected
{
  color: orange !important;
  cursor: pointer;
}

.feedback-stars-disabled .selected
{
  color: orange !important;
}

.feedback-stars, .feedback-stars-disabled
{
  direction: rtl;
}

.feedback-stars div, .feedback-stars-disabled div
{
  float:none
}

@media screen and (max-width: 500px) {
  .form-card {
    padding: 20px 10px !important;
    width: 100%;
  }

  ul {
    padding-left: 0;
  }
}

.row {
  --bs-gutter-x: 0 !important;
}
