<table class="table" *ngIf="openingHours.length > 0">
  <thead class="table-dark">
  <tr>
    <td>Jour</td>
    <td>La matinée</td>
    <td>L'après-midi</td>
    <td></td>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let openingHour of openingHours">
    <td>{{ openingHour.day }}</td>
    <td>{{ formattingOpeningHours(openingHour.morningStartHour, openingHour.morningEndHour) }}</td>
    <td>{{ formattingOpeningHours(openingHour.afternoonStartHour, openingHour.afternoonEndHour) }}</td>
    <td>
      <i class="bi bi-pencil cursor-pointer" (click)="navigateTo('administration/opening-hour/update/' + openingHour.id)"></i>
      <i class="bi bi-trash cursor-pointer" (click)="navigateTo('administration/opening-hour/delete/' + openingHour.id)"></i>
    </td>
  </tr>
  </tbody>
</table>
<div class="text-center">
  <button type="button" class="btn btn-outline-success" (click)="navigateTo('administration/opening-hour/create')">Créer un horaire d'ouverture</button>
</div>
