.home-search {
  border-radius: 32px;
  background: #f6f6f9;
  padding: 30px 30px;
}

.home-search-left {
  border-radius: 16px;
  min-height: 200px;
  background: #ffffff;
}

.home-search-right img {
  width: 100%;
}

.home-search-left .choice-buttons {
  background: #edeefe;
  padding: 10px;
  border-radius: 25px;
  margin: 20px 10px;
  color: #5057f4;
}

.home-search-left .col-6 {
  text-align: center;
}

.home-search-left .choice {
  border-radius: 20px;
  padding: 5px;
}

.home-search-left .selected-choice {
  background: #ffffff;
  border-radius: 20px;
  padding: 5px;
  font-weight: bold;
}

.home-search-left {
  cursor: pointer;
}

.home-search-left button {
  margin: auto;
  display: flex;
}

@media screen and (max-width: 800px) {
  .home-search .row {
    display: grid !important;
  }

  .home-search-right, .home-search-left {
    width: 100%;
  }

  .home-search-left {
    margin-top: 30px;
  }

  .home-search-left .row {
    display: flex !important;
  }
}
