<app-header [isPublic]="false"></app-header>
<main>
  <div class="form-card container">
    <div class="row row-cols-6 justify-content-center">
      <div class="col card picture" *ngFor="let picture of pictures">
        <img [src]="environment.apiUrl + picture.url" class="card-img-top" alt="image">
        <div class="card-body text-center">
          <i class="bi bi-trash cursor-pointer mt-3" (click)="delete(picture.id)"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col"></div>
    <div class="col d-flex justify-content-center"><button type="button" class="btn btn-outline-success" (click)="cancel()">Annnuler</button></div>
    <div class="col d-flex justify-content-center"><button type="button" class="btn btn-outline-success" (click)="add()">Ajouter</button></div>
    <div class="col"></div>
  </div>
</main>
