<div class="form-card">
  <form [formGroup]="form" *ngIf="form">
    <h6 class="text-center dark-gray-text mb-3">
      Saisissez l'e-mail associé à votre compte.<br/>
      Nous allons vous envoyer votre nouveau mot de passe par e-mail
    </h6>
    <div class="form-group mb-3">
      <input type="email" class="form-control" formControlName="email" placeholder="Email">
      <p class="error-message" *ngIf="formSubmitted && form.controls['email'].errors">{{ getError('email') }}</p>
    </div>
    <div class="row mt-3">
      <div class="col"></div>
      <div class="col text-center">
        <button type="button" class="btn btn-outline-success" (click)="cancel()">Annnuler</button>
      </div>
      <div class="col text-center">
        <button type="submit" class="btn btn-outline-success" (click)="send()">Réinitialiser</button>
      </div>
      <div class="col"></div>
    </div>
  </form>
</div>
